/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
/* reset ends here */

header {
    background-color: white;
    height: 80px;
    position: relative;
}

.logo-wrapper {
    position: absolute;
    left: 25px;
    top: 15px;
}

#logo {
    background-image: url('../img/Logo.png');
    height: 50px;
    width: 50px;
    display: inline;
    left: 25px;
    vertical-align: middle;
}

h1 {
    vertical-align: middle;
    display: inline;
    font-family: 'Arimo', sans-serif;
    font-weight: bolder;
}

main {
    background-color: #f6f8f9;
    height: 525px;
    position: relative;
}

.main-wrapper {
    width: 800px;
    height: 480px;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: white;
}

.button-wrapper {
    margin-left: 35px;
    padding: 20px 0;
}

.add-task, .add-section {
    padding: 7px;
    font-family: 'Arimo', sans-serif;
    font-size: 0.7rem;
    border-radius: 5px;
}

.add-task {
    background-color: #47adf1;
    color: white;
}

.add-section {
    border: 1px solid lightgrey;
    color: lightgrey;
}

hr {
    border: 1px solid #f6f8f9;
}

.list-wrapper {
    margin-left: 35px;
    margin-top: 20px;
}

h3 {
    padding-bottom: 8px;
}

.tick {
    color: #7dcbb9;
    border: 1px solid #7dcbb9;
    border-radius: 50%;
}

.cross {
    color: #ec5950;
    border: 1px solid #ec5950;
    border-radius: 50%;
}

.editorial {
    background-color: #47adf1;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
}

.task-wrapper {
    margin: 5px 0;
}

.q1-goals {
    background-color: #9c72e4;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
}

.recruiting {
    background-color: #64c0a9;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
}

.mobile {
    background-color: #f29e33;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
}

.website {
    background-color: #d863a1;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
}

.sales {
    background-color: #b0c926;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
}

.tick-border {
    border: 1px solid green;
    border-radius: 50%;
}