/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* reset ends here */

header {
    background-color: white;
    height: 80px;
    position: relative;
}

.logo-wrapper {
    position: absolute;
    left: 25px;
    top: 15px;
}

#logo {
    background-image: url('../img/Logo.png');
    height: 50px;
    width: 50px;
    display: inline;
    left: 25px;
    vertical-align: middle;
}

h1 {
    vertical-align: middle;
    display: inline;
    font-family: 'Arimo', sans-serif;
    font-weight: bolder;
}

main {
    background-color: #f6f8f9;
    height: calc(100vh - 80px);
    position: relative;
}

.main-wrapper {
    width: 800px;
    height: 500px;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: white;
}

.button-wrapper {
    margin-left: 35px;
    padding: 20px 0;
}

.add-task, .add-section {
    padding: 7px;
    font-family: 'Arimo', sans-serif;
    font-size: 0.7rem;
    border-radius: 5px;
}

.add-task {
    background-color: #47adf1;
    color: white;
}

.add-section {
    border: 1px solid lightgrey;
    color: lightgrey;
}

hr {
    border: 1px solid #f6f8f9;
}

.list-wrapper {
    margin-left: 35px;
    margin-top: 50px;
}